@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the subscription service for that thing you kind of like!</h1>
    <p>New? Please <a asp-controller="Home" asp-action="Registration"> register</a>!</p>
</div>
