
<form method="post" action="result">
    <p>User Name:</p>
    <input type="text" name="UserName" minlength="6" required />

    <p>Email: </p>
    <input type ="email" name="Email" required />

    <p>Password:</p>
    <input type="password" name="Password" minlength="8" required />

    <p>Age: </p>
    <input type ="number" name="Age" min="13" max="105"/>



    

    <input type="submit"/>
</form>